@model IEnumerable<WebAppPhoneBook.Models.ContactCreateModels>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create","ContactCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
}

</table>
<div>
    @Html.ActionLink("Back to Person List", "Create", "PersonDashBoard")
</div>
